.article {
    margin-inline: 20px;
}

.article h1 {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

content {
    width: 75%;
}

aside {
    display: flex;
    flex-direction: column;
}

.category {
    border-radius: 100%;
    background-color: var(--main-color-50);
    color: var(--main-color);
}