@font-face {
	font-family: "Gotham";
	src: url("/resources/font/");
}

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--main-color: rgb(52, 151, 166);
	--main-color-50: rgb(52, 151, 166, 0.5);
	--main-color-25: rgb(52, 151, 166, 0.25);
	--dark: rgb(35, 39, 47);
	--light: rgb(240, 240, 240);
	--light-50: rgb(240, 240, 240, 0.8);
	--gray: rgb(168, 168, 168);
	--gray-50: rgb(168, 168, 168, 0.5);
	--secondary-color: rgb(193, 170, 2);

	--red: rgb(245, 92, 92);

	font-family: Gotham;
	background-color: var(--light);
	color: var(--dark);

	--header-height: 15vh;
	scroll-behavior: smooth;
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--bkg-color);
}

::-webkit-scrollbar-thumb {
	background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-color);
}

::-moz-selection {
	color: var(--light);
	background: var(--secondary-color);
}
  
::selection {
	color: var(--light);
	background: var(--secondary-color);
}

header {
	background-color: var(--light-50);
	padding: 10px;
	height: var(--header-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 2;
	backdrop-filter: blur(5px);
	transition: all 0.3s ease;
}

#header-spacer {
	height: var(--header-height);
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header-logo {
	font-weight: bolder;
}

.light-color {
	color: var(--light);
}

.dark-color {
	color: var(--dark);
}

.main-color {
	color: var(--main-color);
}

.red-color {
	color: var(--red);
}

.main-color-50 {
	color: var(--main-color-50);
}

.gray-color {
	color: var(--gray);
}

.secondary-color {
	color: var(--secondary-color);
}

.bkg-light-color {
	background-color: var(--light);
}

.bkg-dark-color {
	background-color: var(--dark);
}

.bkg-main-color {
	background-color: var(--main-color);
}

.bkg-main-color-50 {
	background-color: var(--main-color-50);
}

.bkg-gray-color {
	background-color: var(--gray);
}

.bkg-secondary-color {
	background-color: var(--secondary-color);
}

.bkg-red-color {
	background-color: var(--red);
}

.clickable:hover {
	cursor: pointer;
}

p {
	font-size: large;
}

.button {
	background-color: var(--main-color);
	padding: 6px;
	border-radius: 4px;
	margin: 5px;
	margin-inline: 8px;
	padding-inline: 8px;
	color: var(--light);
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
}

.button:hover {
	filter: brightness(0.9);
}

.inline-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.circle {
	border-radius: 100%;
	aspect-ratio: 1/1;
	height: 40px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	padding: 20px;
	transition: all 0.4s ease;
}

p {
	margin: 10px;
	margin-inline: 15px;
}

.max-width {
	width: 100%;
}

.max-height {
	height: 100%;
	position: relative;
}

.title {
	margin: 10px;
	margin-top: 20px;
}

.bigger {
	font-size: xx-large;
}

.smaller {
	font-size: medium;
}

.title::before {
	content: "> ";
	color: var(--secondary-color);
}

footer {
	background-color: var(--dark);
	color: var(--light);
	padding: 20px;
	height: 500px;
}

.section {
	padding: 30px;
}

.course-image {
	width: 100px;
}

.bottom-shadow {
	box-shadow: 0 -2px 10px 5px var(--gray);
}

a {
	text-decoration: none;
	position: relative;
}

a::before {
	content: "";
	position: absolute;
	height: 10%;
	width: 0%;
	bottom: 0;
	transition: all 0.3s ease;
	background-color: var(--secondary-color);
}

a:hover::before {
	content: "";
	position: absolute;
	width: 100%;
}

.start {
	flex-wrap: wrap !important;
	align-content: flex-start !important;
}

a:visited {
	color: inherit
}

.inline-container-start {
	display: flex;
	flex-direction: row;
}

.column-container-start {
	display: flex;
	flex-direction: column;
}

.column-container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.h100 {
	height: 100vh;
}

.h50 {
	height: 50vh;
}

.input {
	padding: 4px;
	padding-inline: 8px;
	border-radius: 4px;
	font-size: medium;
	margin-top: 9px;
	margin-bottom: 9px;
	border: 2px solid var(--main-color);
	box-shadow: 0 0 5px 1px var(--main-color-25);
	transition: all 0.2s ease;
	font-family: Gotham;
}

.input:focus {
	outline: 3px solid var(--main-color-50);
}

.scroll-container {
	width: var(--scroll);
	height: 3px;
	background-color: var(--secondary-color);
	position: fixed;
	z-index: 4;
}

#footer-info {
	column-gap: 25px;
	margin-bottom: 30px;
}

#user-info {
	position: fixed;
	right: 20px;
	top: var(--header-height);
	background-color: var(--light);
	padding: 10px;
	border-radius: 5px;
	color: var(--dark);
	z-index: 5;
	border: 1px solid var(--gray);
}

#error-banner {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--dark);
	color: var(--light);
	transition: all 0.4s ease;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 8px;
	column-gap: 5px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--light: rgb(35, 39, 47);
		--dark: rgb(255, 255, 255);
		--main-color: rgb(52, 151, 166);
		--main-color-50: rgb(52, 151, 166, 0.5);
		--main-color-25:rgb(52, 151, 166, 0.25);
		--light-50: rgb(35, 39, 47, 0.8);
		--gray: rgb(71, 73, 79);
		--secondary-color: rgb(210, 185, 0);
		--gray-50: rgb(71, 73, 79, 0.5);

		--red: rgb(245, 55, 55);
	}

	::-moz-selection {
		color: var(--light);
		background: var(--secondary-color);
	}
	  
	::selection {
		color: var(--light);
		background: var(--secondary-color);
	}
}

@media (max-width: 800px) {
	:root {
		--header-height: 10vh;
	}

	.inline-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}

	.main-logo {
		display: none;
	}

	nav {
		justify-content: space-between;
	}
}