#welcome-section {
	background: linear-gradient(180deg, var(--light) 0%, var(--light) 50%, var(--main-color) 100%);
}

#welcome-animation-container {
	height: 90vh;
	display: flex;
	align-items: center;
}

#welcome-animation {
	font-family: 'Courier New', Courier, monospace;
	font-size: 8vh;
}