#background {
    background: linear-gradient(180deg, var(--light) 0%, var(--light) 60%, var(--main-color-50) 100%);
}

#google-oauth-img {
    width: 20px;
    margin-inline: 5px;
}

#github-oauth-img {
    width: 20px;
    margin-inline: 5px;
}

.button {
    margin-inline: 0;
}

#otherwise {
    margin: 10px;
    position: relative;
}

#otherwise::before {
    content: "";
    position: absolute;
    width: 30%;
    top: 50%;
    height: 2px;
    left: 0;
    background-color: var(--gray);
}

#otherwise::after {
    content: "";
    position: absolute;
    width: 30%;
    top: 50%;
    height: 2px;
    right: 0;
    background-color: var(--gray);
}

header {
    backdrop-filter: none;
    background-color: transparent;
}

#signin-card {
    min-width: 23%;
}